<div style="text-align:center">
  <h3 class="text-info">{{ title }} </h3>

  <nav class="bg-light m-2 nav nav-fill">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/conference">Add Conference</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/conference-participant">Add Participant to Conference</a>
    </li>
  </nav>

  <router-outlet></router-outlet>

</div>
