<div class="col-md">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Room</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Available Seat</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let conference of conferences">
      <td>{{conference.title}}</td>
      <td>{{conference.room.name}}</td>
      <td>{{conference.startDate | date:'dd.MM.yyyy HH:mm'}}</td>
      <td>{{conference.endDate | date :'dd.MM.yyyy HH:mm'}}</td>
      <td>{{conference.availableSeats}}</td>
      <td>
        <button class="btn btn-warning" (click)="cancel(conference.id)">Cancel</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
