<div class="col-md-4 mx-auto mt-4">
  <form #conferenceForm="ngForm">

    <div class="form-group">
      <input class="form-control" #title="ngModel" required
             [class.is-invalid]="title.invalid && title.touched"
             [(ngModel)]="conference.title"
             placeholder="Title"
             name="title">
      <small class="text-danger" [class.d-none]="title.valid || title.untouched">Title is required</small>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label style="font-weight: bold">Start Date</label>
        <p-calendar [(ngModel)]="conference.startDate" required
                    [showTime]="true"
                    name="startDate"
                    dateFormat="dd.mm.yy">
        </p-calendar>
      </div>

      <div class="col-md-6">
        <label style="font-weight: bold">End Date</label>
        <p-calendar [(ngModel)]="conference.endDate" required
                    [showTime]="true"
                    name="endDate"
                    dateFormat="dd.mm.yy">
        </p-calendar>
      </div>
    </div>

    <div class="form-group">
      <label style="font-weight: bold">Room</label>
      <select class="form-control" required
              #room="ngModel"
              name="room"
              [(ngModel)]="conference.room"
              (blur)="validateRoom(conference.room)"
              (change)="validateRoom(conference.room)"
              [class.is-invalid]="roomHasError && room.touched">

        <option value="null" disabled>Please select a room</option>
        <option *ngFor="let room of roomList" [ngValue]="room">{{room.name}} - for {{room.maxSeat}} people</option>

      </select>
      <small class="text-danger" [class.d-none]="!roomHasError || room.untouched">Please select a room</small>
    </div>

    <button type="submit" class="btn btn-info mb-3"
            [disabled]="conferenceForm.form.invalid || roomHasError"
            (click)="saveConference(conferenceForm)">Create
    </button>

  </form>
</div>

<app-conference-list [conferences]="conferenceList"></app-conference-list>
