<div class="col-md-4 mx-auto">

  <div class="form-group">
    <h6>Please select your conference</h6>

    <select class="form-control" [(ngModel)]="selectedConference"
            name="conferenceList" (change)="selectConference()">
      <option *ngFor="let conference of conferenceList"
              [ngValue]="conference"> {{conference.title}}
      </option>
    </select>

  </div>
</div>

<div id="accordion">
  <div class="card">

    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne">
          Conference Details
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

      <div class="card-body" *ngIf="selectedConference">
        <div class="row ">
          <div class="col-md-4">Title: {{selectedConference.title}}</div>
          <div class="col-md-4">Start Date: {{selectedConference.startDate | date:'dd.MM.yyyy hh:mma'}}</div>
          <div class="col-md-4">Seat Count: {{selectedConference.room.maxSeat}}</div>
        </div>

        <div class="row">
          <div class="col-md-4">Room: {{selectedConference.room.name}}</div>
          <div class="col-md-4">End Date : {{selectedConference.endDate | date:'dd.MM.yyyy hh:mma'}}</div>
          <div class="col-md-4">Available Seat Count: {{selectedConference.availableSeats}}</div>
        </div>

      </div>
    </div>

    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo">
          Add Participant to Conference
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body" *ngIf="selectedConference">

        <form #participant="ngForm">
          <div class="row col-md-4 mx-auto">
            <div class="mx-auto col-md-8">
              <div class="form-group">

                <select class="form-control"
                        name="participantList" required
                        [(ngModel)]="selectedParticipant"
                        [class.is-invalid]="participantHasError && participant.touched"
                        (blur)="validateParticipant(selectedParticipant)"
                        (change)="validateParticipant(selectedParticipant)">

                  <option value=null disabled>---Please select---</option>
                  <option *ngFor="let participant of potentialParticipants"
                          [ngValue]="participant"> {{participant.name}}
                </select>

              </div>
            </div>

            <div class="col-md-2 mx-auto">
              <button class="btn btn-info" [disabled]="participant.form.invalid || participantHasError"
                      (click)="addParticipant(selectedParticipant)">Add
              </button>
            </div>
          </div>
        </form>

        <div class="row">
          <table class="table table-hover">
            <tr *ngFor="let participant of selectedConference.participants">
              <td>{{participant.name}}</td>
              <td>{{participant.birthday | date: 'dd.MM.yyyy'}}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteParticipant(participant)"> Delete</button>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>


